<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/filler.css" />
  </head>
  <body>
    <table>
      <tr>
        <th>reserved</th>
        <th>unit</th>
        <th>runid</th>
        <th>author</th>
        <th>timestamp</th>
        <th>browser</th>
      </tr>
      {% for fb in feedbacks %}
      <tr>
        <td>{{ fb.reserved }}</td>
        <td>{{ fb.unit }}</td>
        <td>{{ fb.runid }}</td>
        <td>{{ fb.author }}</td>
        <td>{{ fb.timestamp }}</td>
        <td>{{ fb.browser }}</td>
      </tr>
      {% endfor %}
    </table>
    <p>
      <a href="/menu">return to menu</a>
    </p>

  </body>
</html>
